.screensaver {
  position: fixed;
  inset: 0;
  z-index: 9999;
  background: black;
}

.video-wrapper {
  position: fixed;
  inset: 0;
  z-index: 9999;
  background: black;
  width: 100%;
  height: 100%;
  display: flex;
}

.video-player {
  width: 100%;
  height: 100%;
  object-fit: cover;
}