.result-container {
    padding: 0;
    width: 100%;
    height: 540px;
}

.map-container {
    padding: 0;
}

.map-container ion-img {
    height: 540px;
    object-fit: cover;
}

.left-pan ion-col {
    width: 100%;
    height: 100%;
    padding: 0;
}

.option-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}


.left-pan {
    height: 540px;
}

.left-pan ion-row {
    height: 100%;
}