<ion-card>
  <ion-card-header>
    <ion-card-title> ABC </ion-card-title>
    <ion-card-subtitle> by abc </ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <ion-text
      ><p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae maxime
        vero debitis necessitatibus voluptate mollitia! Asperiores tempora
        distinctio laudantium beatae rem inventore nostrum ut repellat quia
        quam. Consectetur dolores dolorum illo velit beatae tempora tenetur
        temporibus necessitatibus adipisci ea! Nemo fugit cupiditate incidunt,
        odit tempora vitae libero fuga similique consequatur.
      </p></ion-text
    >
  </ion-card-content>
</ion-card>
