<ion-header>
  <ion-toolbar color="warning">
    <ion-title class="header-title">Layout Setup Configuration</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen class="lcd-content">
  <ion-grid class="lcd-grid">
    <ion-row class="lcd-row">
      <ion-col size="4" class="lcd-card server-card">
        <div class="card-inner">
          <h2 class="section-title">Server Control</h2>

          <div class="btn-wrapper">
            @if (!serverStatus()) {
            <ion-button (click)="onStartServer()" color="success" shape="round" size="large">
              Start Server
            </ion-button>
            } @else {
            <ion-button (click)="onStopServer()" color="danger" shape="round" size="large">
              Stop Server
            </ion-button>
            }
          </div>

          <div class="info-wrapper">
            @if (serverInfo()) {
            <div class="info-box">Host IP : <span>{{serverInfo()?.ip}}</span></div>
            <div class="info-box">Port : <span>{{serverInfo()?.port}}</span></div>
            <div class="info-box">Running : <span>{{serverInfo()?.running}}</span></div>
            <div class="info-box progress">Progress : <span>{{receivedProgress()}}</span></div>
            } @else {
            <div class="empty-state">Not Connected. Please Start Server</div>
            }
          </div>
        </div>
      </ion-col>
      <ion-col size="4" class="lcd-card success-card">
        <div class="card-inner">
          <h2 class="section-title">Success Logs</h2>

          <div class="logs-wrapper">
            @if (successLogs().length>0) {
            @for (log of successLogs(); track $index) {
            <div class="log-item success">{{log}}</div>
            }
            } @else {
            <div class="empty-state">No Logs Yet</div>
            }
          </div>
        </div>
      </ion-col>
      <ion-col size="4" class="lcd-card error-card">
        <div class="card-inner">
          <h2 class="section-title">Error Logs</h2>

          <div class="logs-wrapper">
            @if (errorLogs().length>0) {
            @for (err of errorLogs(); track $index) {
            <div class="log-item error">{{err}}</div>
            }
            } @else {
            <div class="empty-state">No Errors Yet</div>
            }
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  @if(receivedProgress()===100){
  <ion-fab slot="fixed" horizontal="end" vertical="center">
    <ion-fab-button size="large" color="success" (click)="activateConfiguration()">
      <ion-icon name="arrow-forward-circle-outline" size="large"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  }
</ion-content>