.result-wrapper{
    display:flex;
    flex-direction: row;
    height: 100%
}

.location-map{
    width:40%;
    height: 100%
}

.side-container{
    margin:0;
    flex: auto;
}


.product-list{
    overflow-y: auto;
}