.side-banner{
    width:50%;
}

.results-wrapper{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    height: 540px;
}

.side-container{
    flex: auto;
}

.handle-scroll{
    overflow-y: scroll;
    height: 540px;
}