.side-banner{
    width: 20%;
    height: 100%;
}

.results-wrapper{
    display: flex;
    flex-direction: row;
    height: 100%
}

.side-container{
    flex: auto;
    margin:0;
}

.handle-scroll{
    overflow-y: auto;
}