<ion-grid
  class="ion-padding"
  [style.background-image]="'url(' + contentUiData()?.backgroundImageUrl + ')'"
  style="background-repeat: no-repeat; background-size: cover"
  class="content-wrapper"
>
  <ion-row>
    @for (cat of categories(); track $index) {
    <ion-col sizeXs="12" sizeSm="12" sizeMd="6" sizeLg="4" sizeXl="3">
      <app-dynamic-button
        style="display: block; width: fit-content; margin: 0 auto"
        [buttonType]="contentButtonConfigData()?.type"
        [buttonData]="{
          background: contentButtonConfigData()?.background,
          imageUrl: cat?.icon
        }"
        vPos="bottom"
        hPos="center"
        (click)="onFilter(cat?.id)"
        >{{ cat?.label }}</app-dynamic-button
      >
    </ion-col>
    }
  </ion-row>
</ion-grid>
