<ion-grid
  class="ion-padding"
  [style.background-image]="
    'url(' + homeContext()?.contentData?.style?.backgroundImage + ')'
  "
  style="background-repeat: no-repeat; background-size: cover"
  class="content-wrapper"
>
  <ion-row>
    @for (opt of homeContext()?.contentData?.data?.primaryCategory; track
    $index) {
    <ion-col sizeXs="12" sizeSm="12" sizeMd="6" sizeLg="4" sizeXl="3">
      <app-dynamic-button
        style="display: block; width: fit-content; margin: 0 auto"
        [buttonType]="opt?.type"
        [buttonData]="{
          background: opt?.data?.background,
          imageUrl: opt?.data?.imageUrl
        }"
        vPos="bottom"
        hPos="center"
        (click)="onFilter()"
        >{{ opt.value }}</app-dynamic-button
      >
    </ion-col>
    }
  </ion-row>
</ion-grid>
