<ion-grid
  class="ion-padding"
  [style.background-image]="
    'url(' + contentDataSource()?.uiConfig?.backgroundImageUrl + ')'
  "
  style="background-repeat: no-repeat; background-size: cover"
  class="content-wrapper"
>
  <ion-row>
    @for (filter of filters(); track $index) {
    <ion-col sizeXs="12" sizeSm="12" sizeMd="6" sizeLg="4" sizeXl="3">
      <app-dynamic-button
        style="display: block; width: fit-content; margin: 0 auto"
        [buttonType]="contentDataSource()?.buttonConfig?.type"
        [buttonData]="{
          background: contentDataSource()?.buttonConfig?.background,
          imageUrl: filter?.icon
        }"
        vPos="bottom"
        hPos="center"
        (click)="onFilter()"
        >{{ filter?.label }}</app-dynamic-button
      >
    </ion-col>
    }
  </ion-row>
</ion-grid>
