.result-container {
  padding: 0;
  width: 100%;
  height: 540px;
}

.map-container {
  padding: 0;
}

.map-container ion-img {
  height: 540px;
  object-fit: cover;
}

.right-panel {
  padding: 0;
}

.right-panel ion-grid {
  padding: 0;
}

.right-panel ion-col {
  height: 540px;
  background-color: gray;
  padding: 0;
}

.right-panel ion-col ion-list {
  padding: 0;
}

.right-panel ion-col ion-list ion-item {
  --background: gray;
  --inner-border-width: 0;
}

.option-column {
  flex: 1;
  min-width: 100px;
  border-right: 1px solid #ddd;
}

.option-item {
  padding: 12px;
  font-size: 18px;
}

.product-column {
  flex: 2;
  overflow-y: auto;
}