.result-wrapper{
    display:flex;
    flex-direction: row;
    height: 100%
}

.location-map{
    width:40%;
    height: 100%
}

.side-container{
    margin:0;
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 0;
}

ion-card-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;
}

ion-segment-view {
  flex: 1;
  min-height: 0;
}


.product-list{
    flex: 1;
    overflow-y: auto;
}