<ion-grid class="ion-padding" [style.background]="backgroundStyle"
  style="background-repeat: no-repeat; background-size: cover;" class="content-wrapper">
  <ion-row class="ion-justify-content-center">
    @for (cat of categories(); track $index) {
    <ion-col size="3">
      <app-dynamic-button style="display: block; width: fit-content; margin: 0 auto"
        [buttonImageData]="categoryImages()?.[cat]?.data" (click)="onFilter(cat)">
        {{cat}}
      </app-dynamic-button>
    </ion-col>
    }
  </ion-row>
</ion-grid>