<ion-toolbar [style.--background]="headerData()?.backgroundColor">
  <ion-title [class.ion-text-center]="headerData()?.textPosition === 'center'">
    <ion-text>
      <div
        class="title-wrapper"
        [ngStyle]="{
          color: headerData()?.textColor,
          fontSize: headerData()?.textSize + 'px',
          fontWeight: headerData()?.fontWeight,
          lineHeight: headerData()?.lineHeight,
          letterSpacing: headerData()?.letterSpacing + 'px',
          fontFamily: headerData()?.fontFamily,
        }"
      >
        <div class="title">{{ headerData()?.title }}</div>
        <div
          class="caption"
          [ngStyle]="{
            color: headerData()?.textColor,
            fontFamily: headerData()?.fontFamily,
          }"
        >
          {{ headerData()?.caption }}
        </div>
      </div>
    </ion-text>
  </ion-title>
</ion-toolbar>
