<ion-header>
  <ion-toolbar>
    <ion-title>Layout Setup Configuration</ion-title>

    <ion-button slot="end" (click)="onStartServer()">Start </ion-button>

    <ion-button slot="end" (click)="onStopServer()">Stop </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-text>
    <h1>{{serverStatus()?.running}}</h1>
    <h1>{{serverStatus()?.ip}}</h1>
    <h1>{{serverStatus()?.port}}</h1>
  </ion-text>
  <ion-card>
    <ion-card-header>
      <ion-card-title
        >Use the Following credentials for connecting</ion-card-title
      >
      <ion-card-subtitle
        >Fill the above detail in mobile application for
        connection</ion-card-subtitle
      >
    </ion-card-header>
  </ion-card>
</ion-content>
