.options-wrapper{
    display:inline-flex;
   flex-direction: row;
   align-items: center;
   gap: 24px;
   padding:24px;
   overflow-x: auto;
   width: 100%;
   height: 100%;
  -webkit-overflow-scrolling: touch;
}

.options-wrapper::-webkit-scrollbar{
  display: none;
}