<div
  class="filter-wrapper"
  [style.background-image]="
    'url(' + intermediateDataSource()?.uiConfig?.backgroundImageUrl + ')'
  "
  style="background-repeat: no-repeat; background-size: cover"
>
  <div class="filter-inner">
    @for (attribute of attributes(); track $index) {
    <app-dynamic-button
      [buttonType]="intermediateDataSource()?.buttonConfig?.type"
      [buttonData]="{
        background: intermediateDataSource()?.buttonConfig?.background
      }"
      vPos="bottom"
      hPos="center"
      (click)="handleFilter(attribute?.id)"
      >{{ attribute?.label }}</app-dynamic-button
    >
    }
  </div>
</div>
