<div
  class="filter-wrapper"
  [style.background-image]="'url(' + contentUiData()?.backgroundImageUrl + ')'"
  style="background-repeat: no-repeat; background-size: cover"
>
  <div class="filter-inner">
    @for (attribute of attributes(); track $index) {
    <app-dynamic-button
      [buttonType]="contentButtonConfigData()?.type"
      [buttonData]="{
        background: contentButtonConfigData()?.background
      }"
      vPos="bottom"
      hPos="center"
      (click)="handleFilter(attribute?.id)"
      >{{ attribute?.label }}</app-dynamic-button
    >
    }
  </div>
</div>
