<ion-toolbar [style.--background]="headerData()?.backgroundColor">
  <ion-img [src]="'https://picsum.photos/500/'" slot="start"> </ion-img>
  <ion-title [class.ion-text-center]="headerData()?.textPosition === 'center'">
    <ion-text class="ion-text-center">
      <div class="title-wrapper">
        <div
          class="title"
          [ngStyle]="{
            color: headerData()?.textColor,
            fontSize: headerData()?.textSize + 'px',
            fontWeight: headerData()?.fontWeight,
            lineHeight: headerData()?.lineHeight,
            letterSpacing: headerData()?.letterSpacing + 'px',
            fontFamily: headerData()?.fontFamily,
          }"
        >
          {{ headerData()?.title }}
        </div>
        <div
          class="caption"
          [ngStyle]="{
            color: headerData()?.textColor,
            fontFamily: headerData()?.fontFamily,
          }"
        >
          {{ headerData()?.caption }}
        </div>
      </div>
    </ion-text>
  </ion-title>
</ion-toolbar>
