.header-container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 16px;
    gap: 12px;

}

.header-logo {
    width: auto;
    height: 40px;
    max-width: 150px;
    object-fit: contain;
    margin-right: 0;

}

.title-wrapper {
    display: flex;
    flex-direction: column;
    line-height: 1.2;
}

.title {
    font-size: 18px;
    font-weight: 600;
}

.caption {
    font-size: 12px;
    opacity: 0.7;
}