<ion-toolbar [style.--background]="headerData()?.backgroundColor">
  <div class="header-container"
    [style.justify-content]="headerData()?.textPosition === 'center' ? 'center' : (headerData()?.textPosition === 'right' ? 'flex-end' : 'flex-start')">
    <ion-img [src]="logoSrc()" slot="start" class="header-logo"></ion-img>
    <div class="title-wrapper" [style.text-align]="headerData()?.textPosition">
      <div class="title" [ngStyle]="{
          color: headerData()?.textColor,
          fontSize: headerData()?.textSize + 'px',
          fontWeight: headerData()?.fontWeight,
          lineHeight: headerData()?.lineHeight,
          letterSpacing: headerData()?.letterSpacing + 'px',
          fontFamily: headerData()?.fontFamily
        }">
        {{ headerData()?.title }}
      </div>
      @if(headerData()?.caption){
      <div class="caption" [ngStyle]="{
            color: headerData()?.textColor,
            fontFamily: headerData()?.fontFamily
          }">
        {{ headerData()?.caption }}
      </div>
      }
    </div>
  </div>
</ion-toolbar>