.result-container {
    padding: 0;
    width: 100%;
    height: 540px;
}

.map-container {
    padding: 0;
}

.map-container ion-img {
    height: 540px;
    object-fit: cover;
}

.right-panel {
    padding: 0;
}

.right-panel ion-grid {
    padding: 0;
}

.right-panel ion-col {
    height: 540px;
    background-color: gray;
    padding: 0;
}

.right-panel ion-col ion-list {
    padding: 0;
}

.right-panel ion-col ion-list ion-item {
    --background: gray;
    --inner-border-width: 0;
}