<ion-header>
  <ion-toolbar>
    <ion-title>Configuration </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <qrcode
      (qrCodeURL)="onChangeURL($event)"
      [qrdata]="deviceCredentials"
      [width]="256"
      [errorCorrectionLevel]="'M'"
    ></qrcode>
    <a [href]="qrCodeDownloadLink" download="qrcode">Download</a>
    <ion-card-header>
      <ion-card-title>Scan this QR Code for homepage Setup</ion-card-title>
      <ion-card-subtitle
        >Download the mobile apk for to scan this qr</ion-card-subtitle
      >
    </ion-card-header>
  </ion-card>
</ion-content>
