:host {
    display: block;
    height: 100%;
}

.result-container {
    margin: 0;
    padding: 0;
    height: 100%;

    overflow: hidden;
}

ion-row {
    height: 100%;
    margin: 0;
    padding: 0;
}

ion-col {
    height: 100%;
    padding: 0;
}

.left-pan {
    ion-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 18px
    }
}

.right-pan {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;

    h1 {
        text-align: center;
    }

    .options-container {
        display: flex;
        flex-wrap: wrap;

        width: 100%;
        justify-content: flex-end;
        gap: 10px;

        ion-list {
            display: flex;
            background: none;
            gap: 10px;

            ion-item::part(native) {
                font-size: large;
                border-radius: 20px;
            }
        }
    }

    .products-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        height: 100%;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;

        .product-card {
            border-radius: 18px;
            height: 400px;
            width: 300px;

            ion-img {
                height: 300px;
                width: 300px;
                object-fit: cover;
            }
        }
    }
}