.image-container {
    width: 100%;
    height: 200px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

.productImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.handle-scroll {
    max-height: 80vh;
    overflow-y: auto;
}