.logo-container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 16px;

}

.header-logo-only {
    width: auto;
    height: 44px;
    max-height: 90%;
    max-width: 80%;
    object-fit: contain;
}