<ion-header>
  @if (headerCode()==='0001') {
  <app-header1></app-header1>
  }@else if (headerCode()==='0010') {
  <app-header2></app-header2>
  }@else if (headerCode()==='0100') {
  <app-header3></app-header3>
  }@else if(headerCode()==='1000'){
  <app-header4></app-header4>
  }
</ion-header>

<ion-content>
  @if (contentCode()==='0002') {
  <app-content1></app-content1>
  }@else if (contentCode()==='0020') {
  <app-content2></app-content2>
  }@else if (contentCode()==='0200') {
  <app-content3></app-content3>
  }@else if(contentCode()==='2000'){
  <app-content4></app-content4>
  }
</ion-content>
